@charset "UTF-8";

/* popup영역 */
.cm_popup_overlay {
  background-color: rgba(0, 0, 0, 0.6);
  bottom: 0;
  cursor: default;
  left: 0;
  /* opacity: 0; */
  position: fixed;
  right: 0;
  top: 0;
  /* visibility: hidden; */
  z-index: 50;

  animation-duration: 0.3s;
  animation-timing-function: ease-out;
  animation-name: fadeIn;
  animation-fill-mode: forwards;
}

.popup360 {
  background-color: #fff;
  border: 1px solid #656565;
  display: inline-block;
  left: 50%;
  /* opacity: 0; */
  padding: 26px;
  position: fixed;
  /* visibility: hidden; */
  z-index: 100;
  width: 360px;
  transform: translate(-50%, -50%);

  animation-duration: 0.3s;
  animation-timing-function: ease-out;
  animation-name: slideDown;
  animation-fill-mode: forwards;
}

.popup360 > h1 {
  font-size: 18px;
  font-weight: bold;
  padding-bottom: 13px;
  border-bottom: #e4e4e4 solid 2px;
  margin-bottom: 20px;
}

.popup360 > article {
  padding: 0 15px;
}

.popup360 > article > .contents {
  text-align: center;
  word-break: break-all;
  line-height: 22px;
  margin-bottom: 30px;
}

.popup360 .btn_area {
  text-align: center;
  margin: 20px 0 0 0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideDown {
  from {
    top: 35%;
    opacity: 0;
  }
  to {
    top: 50%;
    opacity: 1;
  }
}
